<footer class="footer-section"style="direction: rtl; text-align: right;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" >
        <div class="footer-widget">
          <h5>  Drop-Shipping  <i class="fa fa-shopping-cart" aria-hidden="true"></i> </h5>
          <ul>
            <li style="color: whitesmoke;">
              Our Website is the leading drop shipping website all over Egypt, Here.. 
              All Suppliers, Marketeers, Shipping companies are connected together 
              to make it easier for the Customer.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-left">
          <div class="footer-widget">
            <h5>Communicate With us </h5>
          </div>
          <ul>
              <li>Address: Alexandria-Abees 2</li>
              <li>Phone Number: 01205637866</li>
              <li>Email: ahmed.gamal.abdelhakeem@gmail.com</li>
          </ul>
          <div class="footer-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
        <div class="col-lg-3 offset-lg-1">
          <div class="footer-widget">
              <h5>Information</h5>
              <ul>
                  <li><a href="/">Home Page</a></li>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/register">Register</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <section class="">
      <div class="container p-4 pb-0">
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3 mx-4">Register your account for free</span>
            <button type="button"  [routerLink]="['/login']" class="btn btn-outline-light btn-rounded">
                Register
            </button>
          </p>
        </section>
      </div>
        <div class="text-center p-3" style="background-image: linear-gradient(to top right,  #e7ab3c, rgba(10, 0, 6, 0.65)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);">
          2023 Copyright © :
          <a class="text-white" href="https://mdbootstrap.com/">Drop-shipping.com</a>
        </div>
    </section>
</footer>