<div class="container w-75 my-5" style="font-family:'Segoe UI';">
  <div class="text-center mb-5" style="font-size:xx-large; font-weight: bolder; color:#e7ab3c;">
    Edit Details
  </div>
  <div class="w-75 mx-auto" style="direction: rtl; text-align: right;">
    <div class="row mb-4">
      <div class="col" >
        <label for="uname" class="form-label">User Name</label>
        <input [(ngModel)]="userData.userName" type="text" class="form-control" id="uname" readonly>
      </div>
      <div class="col">
        <label  for="email" class="form-label">Email</label>
        <input  [(ngModel)]="userData.email" type="email" class="form-control" id="email" readonly>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col" >
        <label for="fname" class="form-label">First Name</label>
        <input [(ngModel)]="userData.firstName" type="text" class="form-control" id="fname">
      </div>
      <div class="col">
        <label for="lname" class="form-label">Last Name</label>
        <input [(ngModel)]="userData.lastName" type="text"  class="form-control" id="lname">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <label  for="phone" class="form-label">Phone Number</label>
        <input [(ngModel)]="userData.phoneNumber"  type="number" class="form-control" id="phone">
      </div>
      <div class="col">
        <label  for="adress" class="form-label">Address</label>
        <input  [(ngModel)]="userData.address" type="text" class="form-control" id="adress">
      </div>
    </div>
    <select *hasRole="['Supplier']" name="status" class="btn btn-outline-dark py-2 mx-2" (change)="selectChangeHandler($event)" >
      <option class="py-2 mx-2"  > Select Status</option>
      <option value="true"   class="py-2 mx-2"  >Active</option>
      <option value="false" class="py-2 mx-2" >Not Active</option>
    </select>
  </div>
</div>
  
<div class="text-center mb-5">
  <button (click)="Cancel()" type="button" class="btn btn-outline-dark mr-3 px-5 " >Cancel</button>
  <button (click)="Update()" type="button" class="btn px-5 text-white" style="background-color:#e7ab3c;">Save</button>
</div>