 <div class="container w-75 my-4" style="font-family:'Segoe UI';">
  <div class="text-center my-4" style="font-size:xx-large; font-weight: bolder; color:#e7ab3c;">
    All Categories
  </div>
</div>
<div class="card">
  <p-table [columns]="cols" [value]="allCategories" [paginator]="true" [rows]="5">
    <ng-template pTemplate="caption">
      List of Categories
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr >
          <th class="col-4" style="text-align: center;"> </th>
          <th class="col-4" style="text-align: center;" *ngFor="let col of columns" [pSortableColumn]="col.field" >
            {{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th class="col-4" style="text-align: center;"> </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-category  let-rowIndex="rowIndex" let-rowData let-columns="columns">
        <tr>
          <td style="text-align: center;">
            <button [routerLink]="['/managecategory/editcategory',category.id]" class="btn btn-link mr-3 px-5 btn-sm" >Edit</button>
          </td>
          <td style="text-align: center;" *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
          <td style="text-align: center;">
                {{rowIndex+1}}
          </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        There are {{allCategories?.length}} Categories
    </ng-template>
  </p-table>
  <div  class="my-4"  style="text-align: center;">
    <button (click)="Back()" type="button" class="btn btn-outline-dark mr-5 px-5 " >Back</button>
    <button [routerLink]="['/managecategory/addcategory']" type="button" class="btn px-5 text-white" style="background-color:#e7ab3c;">Add Category</button>
  </div>
  <router-outlet>
  </router-outlet>
</div>
