<section class="hero-section">
  <div class="single-hero-items set-bg" style="background-image: url('assets/img/time-bg.jpg');">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-5 my-5 py-5">
          <span style="direction: rtl !important; font-size: large;">
              Our Website is the leading drop shipping website all over Egypt,
              Here.. 
              All Suppliers, Marketeers, Shipping companies are connected together to make it easier
              for the Customer.
          </span>
          <h1 class="text">Drop Shipping</h1>
          <p class="mb-5">
            The first drop shipping website all over Egypt
          </p>
          <button [routerLink]="['/login']" *ngIf="!loggedIn()" class="btn btn-primary btn-jittery1">
              Login
          </button>
          <button [routerLink]="['/register']" *ngIf="!loggedIn()" class="btn btn-primary btn-jittery">
              Register
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- Latest Blog Section Begin -->
  <section class="latest-blog spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h2 class="text">All what you need to make your business booming</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="card">
  
            <div class="card__side card__side--back">
              <div class="card__cover">
                <h4 class="card__heading">
                  <span class="card__heading-span">The products are Available in big amounts</span>
                </h4>
              </div>
  
            </div>
  
            <div class="card__side card__side--front">
              <div class="card__theme">
                <div class="card__theme-box">
                  <p class="text" style="color: white !important;font-size: 32px !important;"> Our website makes it easier for you</p>
                </div>
              </div>
            </div>
  
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card__side card__side--back">
              <div class="card__cover">
                <h4 class="card__heading">
                  <span class="card__heading-span"> Don't care about shpping </span>
                </h4>
              </div>
              <div class="card__details"></div>
            </div>
  
            <div class="card__side card__side--front">
              <div class="card__theme">
                <div class="card__theme-box">
                  <p class="text" style="color: white !important;font-size: 32px !important;"> Quickest delivery time </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
  
            <div class="card__side card__side--back">
              <div class="card__cover">
                <h4 class="card__heading">
                  <span class="card__heading-span">Receive your prophits in the same day
                  </span>
                </h4>
              </div>
  
            </div>
  
            <div class="card__side card__side--front">
              <div class="card__theme">
                <div class="card__theme-box">
                  <p class="text" style="color: white !important;font-size: 32px !important;"> Your Prophits! </p>
  
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
    </div>
  </section>
  
  <div class="py-5 service-24" style="margin-top: 5%;margin-bottom: 7%;">
    <div class="container">
      <!-- Row -->
  
      <div class="col-lg-12">
        <div class="section-title">
          <h2 class=" text-center text">  What makes us different ?
          </h2>
        </div>
      </div>
      <div class="row wrap-service-24">
        <!-- Column -->
        <div class="col-lg-4 col-md-6">
          <div class="card card-shadow border-0 mb-4" style="padding: 3%;">
            <a href="javascript:void(0)" class="card-hover py-4 text-center d-block rounded">
              <span class="bg-success-grediant text2">Will make it easy for you
              </span>
              <h6 class="ser-title text2" style="font-size: large;line-height: 0.9cm">
                We are with you from your biggining untill you make it booming, commuincate with us..</h6>
            </a>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-4 col-md-6">
          <div class="card card-shadow border-0 mb-4" style="padding: 3%;">
            <a href="javascript:void(0)" class="card-hover py-4 text-center d-block rounded">
                <span class="bg-success-grediant text2">
                    How much can you gain from working in drop shipping
                </span>
              <h6 class="ser-title text2" style="font-size: large;line-height: 1cm;">
                No limits for your prophits, Start now..
              </h6>
            </a>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-4 col-md-6">
          <div class="card card-shadow border-0 mb-4" style="padding: 3%;">
            <a href="javascript:void(0)" class="card-hover py-4 text-center d-block rounded">
              <span class="bg-success-grediant text2">We will help you building your brand
              </span>
              <h6 class="ser-title text2" style="font-size: large; line-height: 1cm;">Wish you all Luck</h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  